<div class="container mt-5">
    <h4>Showing Results...</h4>
    <div class="row">
        <div *ngFor="let d of fetchedRecipeDisplay" class="col-lg-3 mt-3 mb-3"> 
            <div class="box rounded">
                <img class="rounded" src="{{'https://static01.nyt.com/'+d.multimedia[0].url}}" width="100%">
            <h5 class="mt-2 mb-2">{{d.headline.main}}</h5>
         
            <p class="date">Source: {{d.source}}</p>
            <p class="desc">{{d.abstract}}</p>
            <a href="{{d.web_url}}" target="_blank" class="btn btn-dark btn-sm mt-2 mb-2">Read more</a>
            </div>         
        </div>
    </div>
</div> 

